@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300&family=Orbitron:wght@500&family=Playfair+Display:wght@700&display=swap');


body{
    font-family: 'Playfair Display', serif;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-family: 'Orbitron', sans-serif;
    background-image: url('./img/b-img4.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    }

.container{
    font-size: 5rem;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    
}

#clock{
    color: #fff;
    width: 100vw;
    text-align: center;
    backdrop-filter: blur(1.5px);
    /* background-color: hsla(0, 0%, 100%, 0.1); */
    text-shadow: 3px 3px 5px hsl(0, 0%, 0%);
}

.active{
    transform: translateX(30px);
}

.toggle-container{
    width: 60px;
    height: 30px;
    /* background-color: #fff; */
    margin: 1rem ;
    border-radius: 15px;
    position: absolute;
    top: 20px;
    left: 20px;
    cursor: pointer;
    backdrop-filter: blur(7px);
    background-color: hsla(0, 0%, 100%, 0.479);
    z-index: 2;
    
}

.toggle-button{
    width:30px;
    height: 30px;
    background-color: hsla(0, 60%, 99%, 0.97);
    border-radius: 50%;
    position: absolute;
    cursor: pointer;
    transition: transform 0.5s ease;
    z-index: 2;
}

.icon-arrow{
    width: 8rem;
    height:8rem;
    position: absolute;
    margin: 5px;
    top: 40px;
    left: 35px;
    /* transform: rotate(45deg); */
    backdrop-filter: blur(1px);
    z-index: 1;
}

.src{
    position: absolute;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: hsla(0, 0%, 100%, 0.1); */
    width: 100%;
    z-index: 2;
    bottom: 0.5rem;
    cursor: pointer;
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
}

a{
    text-decoration: none;
    color: #fff;
}